body{
    background-color: black;
}

p {
    font-family: Arial;
    color: white;
    font-weight: bold;
    text-align: center;
}

.header-text {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    
}

.project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

.basic-information {
    text-align: center;
    font-size: medium;
    font-weight: normal;
    margin-top: 20  px;
    margin-bottom: 20px;
}